snippet code "code"
{{< code lang="$1" numbers="$2" start="$3" hl="$4" id="$5">}}
$6
{{< / code >}}
endsnippet

snippet markdeep "markdeep"
<meta charset="utf-8">
${1}
<style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
endsnippet
