#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
command -v brew >/dev/null 2>&1 && exit 0
echo "Homebrew not found, installing..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}
